{% load custom_filters %}
{% load static %}
<!doctype html>
<html lang="en" class="bg-dark text-white">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Weblio{% endblock %}</title>
        <link rel="icon" type="image/png" href="https://storage.googleapis.com/bucket-weblio/branding/logo/logo-small.png">

        <!-- CSS Libraries -->
        {% include "CSSLibraries.html" %}

        <!-- Custom CSS -->
        {% include "styles.html" %}
    </head>
    <body>
        <!-- Navbar -->
        {% include "navbar.html" %}

        <!-- Spinner Overlay -->
        {% include "spinner.html" %}

        <!-- Popup de mensajes (errores, advertencias) -->
        {% include "popup.html" %}

        <!-- Django block content -->
        <main class="bg-dark text-white">
            {% block content %}{% endblock %}
        </main>

        <!-- Footer -->
        <footer class="py-2">
            <div class="container">
            <p class="mb-0">Desarrollado con <span class="heart">❤️</span> (y <span class="coffee">☕</span>) por el equipo de Weblio &copy;</p>
            </div>
        </footer>

        <!-- JS Libraries -->
        {% include "JSlibraries.html" %}
    </body>
</html>