<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="https://storage.googleapis.com/bucket-weblio/branding/logo/logo-small.png" alt="Weblio Logo" height="30" class="d-inline-block align-text-top me-2">
            Weblio
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Artículos -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Artículos
                    </a>
                    <ul class="dropdown-menu">
                        {% if user.is_authenticated and perms.posts.view_post %}
                            <li><a class="dropdown-item" href="{% url 'feed' %}">Mis artículos</a></li>
                            <li><hr class="dropdown-divider"></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{% url 'posts' %}">Explorar artículos</a></li>
                    </ul>
                </li>

                <!-- Categorías -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categorías
                    </a>
                    <ul class="dropdown-menu">
                        {% if user.is_authenticated and perms.posts.view_post %}
                        <li><a class="dropdown-item" href="{% url 'my_categories' %}">Mis categorías</a></li>
                        <li><hr class="dropdown-divider"></li>
                        {% endif %}
                        <li><a class="dropdown-item" href="{% url 'categories' %}">Explorar categorías</a></li>
                        {% if perms.posts.add_category %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'category_add' %}">Nueva Categoría</a></li>
                        {% endif %}
                    </ul>
                </li>

                <!-- Gestión de contenido -->
                {% if perms.posts.add_post or perms.posts.change_post or perms.posts.can_publish %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Contenido
                        </a>
                        <ul class="dropdown-menu">
                            {% if perms.posts.add_post %}
                                <li><a class="dropdown-item" href="{% url 'my-posts' %}">Mis Artículos</a></li>
                                <li><a class="dropdown-item" href="{% url 'add-my-post' %}">Crear un artículo</a></li>
                            {% endif %}
                            {% if perms.posts.change_post %}
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'to-edit' %}">Artículos a editar</a></li>
                            {% endif %}
                            {% if perms.posts.can_publish %}
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'to-publish' %}">Artículos a publicar</a></li>
                            {% endif %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'kanban-board' %}">Tablero Kanban</a></li>
                            {% if perms.members.make_relevant %}
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'relevant-posts' %}">Artículos relevantes</a></li>
                            {% endif %}
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'incidents' %}">Incidencias</a></li>
                        </ul>
                    </li>
                {% endif %}

                <!-- Gestión de usuarios -->
                {% if perms.auth.change_member %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Usuarios
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'member-list' %}">Mostrar usuarios</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'group-list' %}">Mostrar roles</a></li>
                            <li><a class="dropdown-item" href="{% url 'group-create' %}">Crear rol</a></li>
                        </ul>
                    </li>
                {% endif %}
                <!-- Gestión de reportes -->
                {% if perms.posts.add_post or perms.posts.change_post or perms.posts.can_publish or perms.members.view_dashboard %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Reportes
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'posts_claps' %}">Vistas por artículo</a></li>
                            <li><a class="dropdown-item" href="{% url 'posts_updowns' %}">Likes/Dislikes por artículo</a></li>
                            <li><a class="dropdown-item" href="{% url 'posts_rates' %}">Estrellas por artículo</a></li>
                            <li><hr class="dropdown-divider"></li>
                            {% if perms.posts.change_post or perms.posts.can_publish or perms.members.view_dashboard %}
                                <li><a class="dropdown-item" href="{% url 'categories_claps' %}">Vistas por categoría</a></li>
                                <li><a class="dropdown-item" href="{% url 'categories_updowns' %}">Likes/Dislikes por categoría</a></li>
                                <li><a class="dropdown-item" href="{% url 'categories_rates' %}">Estrellas por categoría</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'engagement_dashboard' %}">Dashboard</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                
                <!-- Gestión de finanzas -->
                {% if perms.members.view_finances %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Finanzas
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'members_finances' %}">Reportes de ventas por usuario</a></li>
                            <li><a class="dropdown-item" href="{% url 'categories_finances' %}">Reportes de ventas por categoría</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'finances_dashboard' %}">Dashboard</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>

            <!-- Barra de búsqueda -->
            {% if request.path == '/posts/all/' or request.path == '/posts/all/search/' or request.path == '/posts/feed/' or request.path == '/posts/feed/search/' %}
                <form method="GET" action=" {% if request.path == '/posts/all/' or request.path == '/posts/all/search/' %}
                                                {% url 'post_search_explore' %}
                                            {% elif request.path == '/posts/feed/' or request.path == '/posts/feed/search/' %}
                                                {% url 'post_search_feed' %}
                                            {% endif %}" class="d-flex flex-grow-1 me-4" role="search">
                <input class="form-control bg-dark text-white me-2" type="search" placeholder="Buscar" aria-label="Search" name="q">
                <button class="btn btn-outline-success text-white" type="submit">Buscar</button>
                </form>
            {% endif %}

            <!-- Botones de inicio de sesión / perfil -->
            <div class="d-flex align-items-center ms-lg-3 mt-2 mt-lg-0">
                {% if not user.is_authenticated %}
                    <a class="btn btn-primary px-3 me-2" href="{% url 'member-login' %}">Iniciar Sesión</a>
                    <a class="btn btn-outline-secondary px-3" href="{% url 'member-register' %}">Registrarse</a>
                {% else %}
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if user.pfp %}
                                <img src="{{ user.pfp.url }}" height="40px" width="40px" alt="User Image" class="rounded-circle me-2">
                            {% else %}
                                <img src="https://storage.googleapis.com/bucket-weblio/media/profile_pictures/default_pfp.jpg" height="40px" width="40px" alt="Default User Image" class="rounded-circle me-2">
                            {% endif %}
                            {{ user.first_name }} {{ user.last_name }}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{% url 'profile' %}">Perfil</a></li>
                            <li><a class="dropdown-item" href="{% url 'edit_profile' %}">Editar Perfil</a></li>
                            <li><a class="dropdown-item" href="{% url 'notifications' %}">Configuración</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form method="POST" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="dropdown-item">Cerrar Sesión</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
