<div id="spinner-overlay">
    <div class="spinner-border text-light" role="status">
        <span class="visually-hidden"></span>
    </div>
</div>

<!-- Show spinner when navigating -->
<script>
    // Function to show the spinner
    function showSpinner() {
        var spinnerOverlay = document.getElementById("spinner-overlay");
        spinnerOverlay.classList.remove("hidden");
    }

    // Hide spinner once page is fully loaded
    document.addEventListener("DOMContentLoaded", function() {
        var spinnerOverlay = document.getElementById("spinner-overlay");
        spinnerOverlay.classList.add("hidden");

        // Attach click event to all anchor tags
        document.querySelectorAll('a').forEach(function(link) {
            link.addEventListener('click', function(event) {
                // Exclude links inside the navbar (not dropdown-items) and social-item
                if ((link.closest('.navbar') && !link.classList.contains('dropdown-item')) || 
                    link.classList.contains('social-item') || link.classList.contains('nav-link')) {
                    // Do nothing for normal navbar links or social-item
                    return;
                } else {
                    // Show spinner for dropdown items or any other link
                    showSpinner();
                }
            });
        });

        // Add event listener for the actualizar button
        const actualizarButton = document.getElementById("actualizar-button");
        if (actualizarButton) {
            actualizarButton.addEventListener("click", function() {
                showSpinner(); // Show spinner when the button is clicked
            });
        }

        // Attach submit event to all forms
        document.querySelectorAll('form').forEach(function(form) {
            form.addEventListener('submit', function() {
                showSpinner();  // Show spinner when a form is submitted
            });
        });
    });
</script>