{% extends "base.html" %}
{% block content %}
{% load custom_filters %}
  <main role="main" class="container py-4">
    <form id="post-form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" name="change_reason" id="change_reason">

      {% if post.status == 'draft' %}
      <h1>Editar artículo</h1>

      <!-- Información Tab -->
      <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="informacion-tab" data-bs-toggle="tab" href="#informacion" role="tab"
            aria-controls="informacion" aria-selected="true">Información</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="cuerpo-tab" data-bs-toggle="tab" href="#cuerpo" role="tab" aria-controls="cuerpo"
            aria-selected="false">Cuerpo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="historial-tab" data-bs-toggle="tab" href="#historial" role="tab" aria-controls="historial"
            aria-selected="false">Historial de versiones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="observaciones-tab" data-bs-toggle="tab" href="#observaciones" role="tab"
            aria-controls="observaciones" aria-selected="false">Observaciones de versiones</a>
        </li>
      </ul>

      <div class="tab-content" id="myTabContent">
        <!-- Información Tab -->
        <div class="tab-pane fade show active" id="informacion" role="tabpanel" aria-labelledby="informacion-tab">
          <ul class="nav nav-tabs" id="infoTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="existing-fields-tab" data-bs-toggle="tab" href="#existing-fields" role="tab"
                aria-controls="existing-fields" aria-selected="true">General</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="dates-tab" data-bs-toggle="tab" href="#dates" role="tab" aria-controls="dates"
                aria-selected="false">Fechas de publicación</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="thumbnail-tab" data-bs-toggle="tab" href="#thumbnail" role="tab"
                aria-controls="thumbnail" aria-selected="false">Foto de portada</a>
            </li>
          </ul>

          <div class="tab-content">
            <!-- Existing Fields -->
            <div class="tab-pane fade show active" id="existing-fields" role="tabpanel"
              aria-labelledby="existing-fields-tab">
              <div class="py-3">
                <div class="form-group">
                  <label for="id_title">Título</label>
                  {{ gen_form.title }}
                </div>
                <div class="form-group">
                  <label for="id_title_tag">Etiqueta de título</label>
                  {{ gen_form.title_tag }}
                </div>
                <div class="form-group">
                  <label for="id_summary">Resumen</label>
                  {{ gen_form.summary }}
                </div>
                <div class="form-group">
                  <label for="id_category">Categoría</label>
                  {{ gen_form.category }}
                </div>
                <div class="form-group">
                  <label for="id_keywords">Etiquetas</label>
                  {{ gen_form.keywords }}
                </div>
              </div>
            </div>

            <!-- Dates Tab -->
            <div class="tab-pane fade" id="dates" role="tabpanel" aria-labelledby="dates-tab">
              <div class="py-3">
                <div class="form-group">
                  <label for="id_start_date">Inicio de publicación</label>
                  <p>{{ program_form.publish_start_date }}</p>
                </div>
                <div class="form-group">
                  <label for="id_end_date">Fin de publicación</label>
                  <p>{{ program_form.publish_end_date }}</p>
                </div>
              </div>
            </div>

            <!-- Thumbnail Upload Tab -->
            <div class="tab-pane fade" id="thumbnail" role="tabpanel" aria-labelledby="thumbnail-tab">
              <div class="py-3">
                <div class="form-group">
                  <div class="d-flex">
                    <!-- Botón para eliminar la imagen si existe -->
                    <button type="button" id="remove-thumbnail-btn" class="btn btn-danger me-2" style="display: {% if current_thumbnail_url %}block{% else %}none{% endif %};" onclick="removeThumbnail()">Eliminar portada</button>      
                    <!-- Input file oculto pero con el evento onchange -->
                    <input type="file" name="thumbnail" id="id_thumbnail" accept="image/*" onchange="updateThumbnail(this);" style="display: none;"> 
                    <!-- Botón personalizado para abrir el input de archivo -->
                    <label for="id_thumbnail" id="thumbnail-label" style="cursor: pointer;">{% if current_thumbnail_url %}Cambiar portada{% else %}Subir portada{% endif %}</label>
                  </div>
                  <!-- Mostrar la vista previa de la imagen actual si existe -->
                  <div class="mt-2">
                    {% if current_thumbnail_url %}
                      <img id="current-thumbnail" 
                          src="{{ current_thumbnail_url }}" 
                          alt="Thumbnail" 
                          style="max-width: 300px;">
                    {% endif %}
                    <input type="hidden" name="thumbnail" id="thumbnail-input" value="{{ current_thumbnail_url }}">
                    <input type="hidden" name="post_id" value="{{ post_id }}">
                    <input type="hidden" name="history_id" value="{{ history_id }}">
                  </div>
                 </div>
              </div>
            </div>                     
          </div>
        </div>

        <!-- Cuerpo Tab -->
        <div class="tab-pane fade" id="cuerpo" role="tabpanel" aria-labelledby="cuerpo-tab">
          <div class="py-3">
            <div class="form-group">
              {{ form.media }}
              {{ body_form.body }}
            </div>
          </div>
        </div>

        <!-- Historial de versiones Tab -->
        <div class="tab-pane fade" id="historial" role="tabpanel" aria-labelledby="historial-tab">
          <div class="py-3">
            <h2>Historial de versiones</h2>
            <table class="table table-dark table-hover">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Tipo</th>
                  <th>Usuario</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for record in post_history_page %}
                <tr>
                  <td>{{ record.history_date|date:"d M Y, H:i" }}</td>
                  <td>
                    {% if record.history_type == '+' %}
                    Creado
                    {% elif record.history_type == '~' %}
                    Actualizado
                    {% elif record.history_type == '-' %}
                    Eliminado
                    {% endif %}
                  </td>
                  <td>{{ record.history_user }}</td>
                  <td><a href="{% url 'history' post.pk record.history_id %}">Ver detalles</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

            <!-- Pagination Controls -->
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center" data-bs-theme="dark">
                {% if post_history_page.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ post_history_page.previous_page_number }}#historial"
                    aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {% endif %}
                {% for num in post_history_page.paginator.page_range %}
                <li class="page-item {% if post_history_page.number == num %}active{% endif %}">
                  <a class="page-link" href="?page={{ num }}#historial">{{ num }}</a>
                </li>
                {% endfor %}
                {% if post_history_page.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ post_history_page.next_page_number }}#historial" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>

        <!-- Observaciones de versiones Tab -->
        <div class="tab-pane fade" id="observaciones" role="tabpanel" aria-labelledby="observaciones-tab">
          <div class="py-3">
            {% if post_history_with_reason_page %}
            <h2>Observaciones de cambios de estado</h2>
            <table class="table table-dark table-hover">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Usuario</th>
                  <th>Estado Anterior</th>
                  <th>Estado Nuevo</th>
                  <th>Observación</th>
                </tr>
              </thead>
              <tbody>
                {% for record in post_history_with_reason_page %}
                <tr>
                  <td>{{ record.history_date|date:"d M Y, H:i" }}</td>
                  <td>{{ record.history_user }}</td>
                  <td>
                    {% if record.prev_record %}
                    {{ state_mapping|dict_get:record.prev_record.status }}
                    {% else %}
                    Sin estado anterior
                    {% endif %}
                  </td>
                  <td>
                    {{ state_mapping|dict_get:record.status }}
                  </td>
                  <td>{{ record.change_reason }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <!-- Pagination Controls -->
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center" data-bs-theme="dark">
                {% if post_history_with_reason_page.has_previous %}
                <li class="page-item">
                  <a class="page-link"
                    href="?page_with_reason={{ post_history_with_reason_page.previous_page_number }}#observaciones"
                    aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {% endif %}
                {% for num in post_history_with_reason_page.paginator.page_range %}
                <li class="page-item {% if post_history_page.number == num %}active{% endif %}">
                  <a class="page-link" href="?page_with_reason={{ num }}#observaciones">{{ num }}</a>
                </li>
                {% endfor %}
                {% if post_history_with_reason_page.has_next %}
                <li class="page-item">
                  <a class="page-link"
                    href="?page_with_reason={{ post_history_with_reason_page.next_page_number }}#observaciones"
                    aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
                {% endif %}
              </ul>
            </nav>
            {% else %}
            <p>No hay observaciones disponibles.</p>
            {% endif %}
          </div>
        </div>
      </div>
      {% else %} <!-- Si el post no está en estado "draft" -->
      <div class="container my-3 p-3 bg-dark text-white rounded">
        <div class="row g-0">
            <!-- Título y resumen al lado izquierdo -->
            <div class="col-md-7 d-flex flex-column justify-content-center">
                <div class="card-body p-2">
                    <!-- Título del post -->
                    <h1 class="display-5 text-white">{{ post.title }}</h1>
    
                    <!-- Resumen del post -->
                    <blockquote class="blockquote">
                        <p class="mb-0 text-white">― {{ post.summary }}</p>
                    </blockquote>
    
                    <!-- Información del autor, categoría, etiquetas y fechas -->
                    <div class="mt-3">
                        <div class="d-flex align-items-center my-2">
                          {% if post.author.pfp %}
                            <img src="{{ post.author.pfp.url }}" class="rounded-circle me-2" alt="Author Thumbnail" style="width: 50px; height: 50px;">
                          {% else %}
                            <img src="https://picsum.photos/50" class="rounded-circle me-2" alt="Default Thumbnail" style="width: 50px; height: 50px;">
                          {% endif %}
                            <div class="text-start">
                                <p class="mb-1">
                                    <strong>Autor: {{ post.author.first_name }} {{ post.author.last_name }}</strong><br>
                                    <small class="text-white">Categoría: {{ post.category }}</small>
                                </p>
                            </div>
                        </div>
    
                        <!-- Etiquetas y fechas en una sola columna -->
                        <div class="my-2">
                            <p><small class="text-white">Etiquetas: {{ post.keywords }}</small></p>
                            <p><small class="text-white">Inicio de publicación: {{ post.publish_start_date|default:"Sin fecha de publicación" }}</small></p>
                            <p><small class="text-white">Fin de publicación: {{ post.publish_end_date|default:"Sin fecha de fin de publicación" }}</small></p>
                        </div>
    
                        <!-- Estado del post (si no está publicado) -->
                        {% if post.status != 'published' %}
                        <p class="card-text mb-0">
                            <span class="badge bg-warning text-dark">Estado: {{ post.status|yesno:"En edición,A publicar" }}</span>
                        </p>
                        {% endif %}
                    </div>
                </div>
            </div>
    
            <!-- Imagen del post (Portada) al lado derecho -->
            {% if post.thumbnail %}
              <div class="col-md-5">
                  <img src="{{ post.thumbnail.url }}" class="img-fluid rounded-start" alt="Thumbnail" style="width: 100%; height: auto; max-height: 100%; object-fit: cover;">
              </div>
            {% endif %}
        </div>
    </div>
    
    
    
    
    
        <hr>
        <p>{{ post.body|safe }}</p>
      {% endif %}

      <br>
      <div class="d-flex justify-content-between">
        <a href="{% url 'my-posts' %}" class="btn btn-secondary btn-light">Volver</a>
        {% if post.status == 'draft' %}
        <div>
          <button class="btn btn-success my-0" type="submit">Guardar</button>
          <button type="button" class="btn btn-primary my-0" data-bs-toggle="modal"
            data-bs-target="#changeReasonModal" id="changeStatusButton">Mandar a edición</button>
          <button type="button" class="btn btn-danger my-0" data-bs-toggle="modal"
            data-bs-target="#deleteModal">Eliminar</button>
        </div>
        {% endif %}
      </div>
    </form>

    <!-- Delete Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content" style="background-color: white; color: black;">
              <div class="modal-header" style="color: black;">
                  <h5 class="modal-title" id="deleteModalLabel" style="color: black;">Confirmar eliminación</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" style="color: black;">
                  ¿Estás seguro de que quieres eliminar este artículo?
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <form method="post" action="{% url 'delete-my-post' post.pk %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger">Confirmar</button>
                  </form>
              </div>
          </div>
      </div>
  </div>

    <!-- Modal for Change Reason -->
    <div class="modal fade" id="changeReasonModal" tabindex="-1" role="dialog" aria-labelledby="changeReasonLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark text-white">
          <div class="modal-header">
            <h5 class="modal-title" id="changeReasonLabel">Observación</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <label for="changeReasonInput" id="changeReasonLabelDescription">Agrega una observación para el cambio de estado del artículo:</label>
            <input type="text" id="changeReasonInput" class="form-control bg-dark text-white mt-2">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" id="submit-change-reason">Confirmar</button>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Check if there's a hash in the URL (e.g., #historial)
      var hash = window.location.hash;

      if (hash) {
        // Find the tab with that hash and show it
        var activeTab = document.querySelector('a[href="' + hash + '"]');
        if (activeTab) {
          var tab = new bootstrap.Tab(activeTab);
          tab.show();
        }
      }

      // Add event listeners to save the clicked tab in the URL hash
      var tabLinks = document.querySelectorAll('a[data-bs-toggle="tab"]');
      tabLinks.forEach(function (tabLink) {
        tabLink.addEventListener('click', function (event) {
          // Update the URL hash when a tab is clicked
          window.location.hash = event.target.getAttribute('href');
        });
      });

      // Handle the change reason modal
      document.getElementById('submit-change-reason').addEventListener('click', function () {
        var reason = document.getElementById('changeReasonInput').value;
        var moderated = document.getElementById('changeStatusButton').textContent;
        if (reason || moderated === 'Publicar') {
          var changeReasonInput = document.createElement('input');
          changeReasonInput.type = 'hidden';
          changeReasonInput.name = 'change_reason';
          changeReasonInput.value = moderated === 'Publicar' ? 'Publicado sin moderacion' : reason;
          document.getElementById('post-form').appendChild(changeReasonInput);

          var statusInput = document.createElement('input');
          var statusButton = document.getElementById('changeStatusButton');
          statusInput.type = 'hidden';
          statusInput.name = 'status';
          statusInput.value = statusButton.textContent === 'Publicar' ? 'published' : 'to_edit';
          document.getElementById('post-form').appendChild(statusInput);

          document.getElementById('post-form').submit(); // Submit the form after reason is filled
        } 
        else {
          alert('Please provide a reason for changing the status.');
        }
      });
    });
  </script>
  <!-- Incluir JavaScript de Bootstrap solo si es "draft" -->
  {% if post.status == 'draft' %}
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var triggerTabList = [].slice.call(document.querySelectorAll('#myTab a'))
        triggerTabList.forEach(function (triggerEl) {
          var tabTrigger = new bootstrap.Tab(triggerEl)

          triggerEl.addEventListener('click', function (event) {
            event.preventDefault()
            tabTrigger.show()
          })
        })
      });
    </script>
  {% endif %}
  <script>
      function removeThumbnail() {
          // Cambiar la imagen a 'None' y ocultarla
          var thumbnail = document.getElementById('current-thumbnail');
          thumbnail.src = '';  // Borrar la imagen
          thumbnail.style.display = 'none';  // Ocultar la imagen

          // Actualizar el valor del campo thumbnail a 'None'
          document.getElementById('thumbnail-input').value = 'None';

          // Ocultar el botón de eliminar
          var removeBtn = document.getElementById('remove-thumbnail-btn');
          if (removeBtn) {
              removeBtn.style.display = 'none';
          }

          // Cambiar el texto del botón de subir imagen a "Subir portada"
          var thumbnailLabel = document.getElementById('thumbnail-label');
          thumbnailLabel.textContent = 'Subir portada';
      }

    function updateThumbnail(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            // Evento que se ejecuta cuando se carga la imagen
            reader.onload = function(e) {
                var thumbnail = document.getElementById('current-thumbnail');
                if (thumbnail) {
                    thumbnail.src = e.target.result;  // Actualiza la src de la imagen
                    thumbnail.style.display = 'block';  // Asegúrate de que la imagen sea visible
    
                    // Actualizar el valor del campo thumbnail con el nuevo archivo
                    document.getElementById('thumbnail-input').value = e.target.result;
    
                    // Cambiar el texto del botón a "Cambiar portada"
                    var thumbnailLabel = document.getElementById('thumbnail-label');
                    thumbnailLabel.textContent = 'Cambiar portada';
    
                    // Mostrar el botón de eliminar si estaba oculto
                    var removeBtn = document.getElementById('remove-thumbnail-btn');
                    if (removeBtn) {
                        removeBtn.style.display = 'block';
                    }
                } else {
                    console.error("Elemento 'current-thumbnail' no encontrado");
                }
            }
    
            // Lee la imagen seleccionada como una URL de datos
            reader.readAsDataURL(input.files[0]);
        }
    }
  </script>

  <style>
  /* Oculta completamente el input de tipo file y muestra solo el botón */
  input[type="file"] {
      visibility: hidden;
      position: absolute;
  }

  /* Estilo para el botón de subir/cambiar portada */
  label[for="id_thumbnail"] {
      display: inline-block;
      background-color: #007bff;
      color: white;
      padding: 8px 12px;
      font-size: 14px;
      border-radius: 4px;
      cursor: pointer;
      margin-right: 10px; /* Espacio entre los botones */
  }

  label[for="id_thumbnail"]:hover {
      background-color: #0056b3;
  }

  /* Estilo para el botón de eliminar portada */
  #remove-thumbnail-btn {
      font-size: 14px;
      padding: 8px 12px;
      border-radius: 4px;
      cursor: pointer;
  }

  #remove-thumbnail-btn:hover {
      background-color: #c82333;
  }
</style>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    if ('{{ post.status }}' === 'draft') {
      var categoryField = document.getElementById('id_category');
      var changeStatusButton = document.getElementById('changeStatusButton');
      var categories;
      var changeReasonInput = document.getElementById('changeReasonInput');
      var changeReasonLabel = document.getElementById('changeReasonLabel');
      var changeReasonLabelDescription = document.getElementById('changeReasonLabelDescription');

      try {
        // Intenta parsear el JSON pasado desde la vista
        categories = JSON.parse('{{ categories_json|safe }}');  // Usa "safe" porque ya estamos controlando el JSON en la vista
        console.log('Initial category value:', categoryField.value);
        console.log('Initial category details:', categories.find(category => category.id == categoryField.value));
      } catch (e) {
        console.error('Error parsing categories JSON:', e);
      }

      function updateButtonText() {
        var selectedCategory = categories.find(category => category.id == categoryField.value);
        if (selectedCategory) {
          if (selectedCategory.moderated === false) {
            changeStatusButton.textContent = 'Publicar';
            changeReasonInput.style.display = 'none';
            changeReasonLabel.textContent = '¿Estás seguro de que quieres publicar este artículo?';
            changeReasonLabelDescription.textContent = 'Este artículo no requiere una observación para ser publicado. Ya que no está en una categoría moderada, puedes publicarlo directamente.';
            

          } else {
            changeStatusButton.textContent = 'Mandar a edición';
            changeReasonInput.style.display = 'block';
            changeReasonLabel.textContent = 'Observación';
            changeReasonLabelDescription.textContent = 'Agrega una observación para el cambio de estado del artículo:';
          }
        }
      }

      // Actualizar el texto del botón al cargar la página
      updateButtonText();

      // Escuchar el cambio de la categoría seleccionada
      categoryField.addEventListener('change', function() {
        console.log('Category value changed to:', categoryField.value);
        console.log('Category details:', categories.find(category => category.id == categoryField.value));
        updateButtonText();
      });
    }
  });
</script>
{% endblock %}