{% extends "base.html" %}
{% block content %}

  <main role="main" class="container py-4">
        
      <h1>Confirma la eliminación</h1>
      <p>¿Estás seguro de que quieres borrar este rol?</p>
      {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
      <form method="post">
        {% csrf_token %}
        <button type="submit" name='action' value="confirm" class="btn btn-danger">Confirmar</button>
        <a href="{% url 'group-list' %}" class="btn btn-secondary">Cancelar</a>
      
      {% if members %}
      <h3>Usuarios pertenecientes al rol:</h3>
      <table class="table table-dark table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Seleccionar</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Email</th>
                    <th scope="col">Roles</th>
                    <th scope="col">Permisos</th>
                    <th scope="col">Activo</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                <tr class="{% if member.group_count == 1 %}table-danger{% endif %}">
                    <td>
                        <input type="radio" name="selected_member" value="{{ member.id }}" {% if forloop.first %}checked{% endif %}>
                    </td>
                    <td>{{ member.username }}</td>
                    <td>{{ member.email }}</td>
                    <td>
                        {% if member.groups.exists %}
                            <ul>
                                {% for group in member.groups.all %}
                                    <li>{{ group.name }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            Ninguno
                        {% endif %}
                    </td>
                    <td>
                        {% if member.user_permissions.exists %}
                            <ul>
                                {% for perm in member.user_permissions.all %}
                                    <li>{{ perm.name }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            Sin permisos
                        {% endif %}
                    </td>
                    <td>{{ member.is_active|yesno:"Sí,No" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" name="action" value="edit_group" class="btn btn-light">Editar Roles</button>
        </form>
        {% endif %}
    </main>
{% endblock %}
