{% extends "base.html" %}

{% block content %}
<main class="container py-4">
    <h1>Editar Rol: {{ group.name }}</h1>
    
    <form method="post">
        {% csrf_token %}

        <!-- Campo para el nombre del grupo -->
        <div class="mb-3">
            <label for="id_name" class="form-label">Nombre del Rol</label>
            <input type="text" name="name" class="form-control" id="id_name" value="{{ group.name }}">
        </div>

        <!-- Tabla de permisos agrupados por módulo y submódulo con Bootstrap Table -->
        <div class="table-responsive">
            <table 
                id="permissions-table"
                class="table table-striped table-dark"
                data-toggle="table"
                data-sortable="true"
                data-mobile-responsive="true"
                data-check-on-init="true"
            >
                <thead>
                    <tr>
                        <th></th>
                        <th data-field="module" data-sortable="true">Módulo</th>
                        <th data-field="submodule" data-sortable="true">Submódulo</th>
                        <th data-field="permission" data-sortable="true">Permiso</th>
                    </tr>
                </thead>
                <tbody>
                    {% for module_name, submodules in grouped_permissions.items %}
                        {% for submodule_name, permissions in submodules.items %}
                            {% for permission in permissions %}
                            <tr>
                                <td>
                                    <!-- Checkbox para seleccionar permisos -->
                                    <input type="checkbox" name="permissions" value="{{ permission.id }}" 
                                           {% if permission.id in selected_permissions_ids %}checked{% endif %}>
                                </td>
                                <td>{{ module_name }}</td>
                                <td>{{ submodule_name }}</td>
                                <td>{{ permission.name }}</td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="py-4">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{% url 'group-list' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</main>
{% endblock %}