{% extends "base.html" %}
{% load static %}

{% block content %}
<main>
    <div class="container mt-3">
        <h1>Tablero Kanban</h1>
        <div class="board" 
            data-can-create="{{ perms.posts.add_post }}"
            data-can-edit="{{ perms.posts.change_post }}" 
            data-can-publish="{{ perms.posts.can_publish }}">
            <form method="post" id="kanban-board">
                {% csrf_token %}
                <div class="row">
                    <!-- Borrador Column -->
                    <div class="col column" id="borrador" data-status="draft">
                        <h3>Borrador</h3>
                        {% for post in draft_posts %}
                        <div class="card border border-dark mb-3 {% if post.author == user %} clickable-card {% endif %}" draggable="true" id="card-{{ post.pk }}" data-author="{{ post.author.pk }}">
                            <a href="{% if post.author == user %}{% url 'edit-my-post' post.pk %}{% else %}# {% endif %}" class="stretched-link"></a>
                            <div class="card-body">
                                <h5 class="card-title {% if post.author == user %} clickable {% else %} non-clickable {% endif %}">
                                    {{ post.title }}
                                </h5>
                                <div class="post-extra-info d-flex align-items-center mt-auto">
                                    <div class="d-flex align-items-center">
                                        {% if post.author.pfp %}
                                        <img src="{{ post.author.pfp.url }}" alt="{{ post.author.first_name }}" class="profile-picture rounded-circle me-2">
                                        {% else %}
                                        <img src="https://storage.googleapis.com/bucket-weblio/media/profile_pictures/default_pfp.jpg" alt="{{ post.author.first_name }}" class="profile-picture rounded-circle me-2">
                                        {% endif %}
                                        <span class="text-muted smaller-text">
                                            {{ post.author.first_name }} {{ post.author.last_name }} en {{ post.category }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- A Editar Column -->
                    <div class="col column" id="editar" data-status="to_edit">
                        <h3>A editar</h3>
                        {% for post in to_edit_posts %}
                        <div class="card border border-dark mb-3 {% if perms.posts.change_post and post.author != user %} clickable-card {% endif %}" draggable="true" id="card-{{ post.pk }}" data-author="{{ post.author.pk }}">
                            <a href="{% if perms.posts.change_post and post.author != user %}{% url 'edit-a-post' post.pk %}{% else %}# {% endif %}" class="stretched-link"></a>
                            <div class="card-body">
                                <h5 class="card-title {% if perms.posts.change_post and post.author != user %} clickable {% else %} non-clickable {% endif %}">
                                    {{ post.title }}
                                </h5>
                                <div class="post-extra-info d-flex align-items-center mt-auto">
                                    <div class="d-flex align-items-center">
                                        {% if post.author.pfp %}
                                        <img src="{{ post.author.pfp.url }}" alt="{{ post.author.first_name }}" class="profile-picture rounded-circle me-2">
                                        {% else %}
                                        <img src="https://storage.googleapis.com/bucket-weblio/media/profile_pictures/default_pfp.jpg" alt="{{ post.author.first_name }}" class="profile-picture rounded-circle me-2">
                                        {% endif %}
                                        <span class="text-muted smaller-text">
                                            {{ post.author.first_name }} {{ post.author.last_name }} en {{ post.category }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- A Publicar Column -->
                    <div class="col column" id="publicar" data-status="to_publish">
                        <h3>A publicar</h3>
                        {% for post in to_publish_posts %}
                        <div class="card border border-dark mb-3 {% if perms.posts.can_publish and post.author != user %} clickable-card {% endif %}" draggable="true" id="card-{{ post.pk }}" data-author="{{ post.author.pk }}">
                            <a href="{% if perms.posts.can_publish and post.author != user %}{% url 'publish-a-post' post.pk %}{% else %}# {% endif %}" class="stretched-link"></a>
                            <div class="card-body">
                                <h5 class="card-title {% if perms.posts.can_publish and post.author != user %} clickable {% else %} non-clickable {% endif %}">
                                    {{ post.title }}
                                </h5>
                                <div class="post-extra-info d-flex align-items-center mt-auto">
                                    <div class="d-flex align-items-center">
                                        {% if post.author.pfp %}
                                        <img src="{{ post.author.pfp.url }}" alt="{{ post.author.first_name }}" class="profile-picture rounded-circle me-2">
                                        {% else %}
                                        <img src="https://storage.googleapis.com/bucket-weblio/media/profile_pictures/default_pfp.jpg" alt="{{ post.author.first_name }}" class="profile-picture rounded-circle me-2">
                                        {% endif %}
                                        <span class="text-muted smaller-text">
                                            {{ post.author.first_name }} {{ post.author.last_name }} en {{ post.category }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- Publicado Column -->
                    <div class="col column" id="publicado" data-status="published">
                        <h3>Publicado</h3>
                        {% for post in published_posts %}
                        <div class="card border border-dark mb-3 clickable-card" draggable="true" id="card-{{ post.pk }}" data-author="{{ post.author.pk }}">
                            <a href="{% url 'post' post.pk post.category.name|slugify post.date_posted|date:'m' post.date_posted|date:'Y' post.title|slugify %}" class="stretched-link"></a>
                            <div class="card-body">
                                <h5 class="card-title clickable">
                                    {{ post.title }}
                                </h5>
                                <div class="post-extra-info d-flex align-items-center mt-auto">
                                    <div class="d-flex align-items-center">
                                        {% if post.author.pfp %}
                                        <img src="{{ post.author.pfp.url }}" alt="{{ post.author.first_name }}" class="profile-picture rounded-circle me-2">
                                        {% else %}
                                        <img src="https://storage.googleapis.com/bucket-weblio/media/profile_pictures/default_pfp.jpg" alt="{{ post.author.first_name }}" class="profile-picture rounded-circle me-2">
                                        {% endif %}
                                        <span class="text-muted smaller-text">
                                            {{ post.author.first_name }} {{ post.author.last_name }} en {{ post.category }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </form>
        </div>
        <div class="kanban-footer">
            <button class="btn btn-primary btn-lg" id="actualizar-button">Actualizar</button>
            <a href="{% url 'posts' %}" class="btn btn-secondary btn-lg ms-2">Cancelar</a>
        </div>
    </div>
</main>
<script>
document.addEventListener("DOMContentLoaded", () => {
    const draggables = document.querySelectorAll(".card");
    const droppables = document.querySelectorAll(".column");
    const actualizarButton = document.getElementById("actualizar-button");
    const board = document.querySelector('.board');
    const canCreate = board.dataset.canCreate === 'True';
    const canEdit = board.dataset.canEdit === 'True';
    const canPublish = board.dataset.canPublish === 'True';
    const userId = "{{ user.pk }}";
    let movedPosts = [];

    draggables.forEach((post) => {
        post.addEventListener("dragstart", () => {
            post.classList.add("is-dragging");
        });

        post.addEventListener("dragend", () => {
            post.classList.remove("is-dragging");
        });
    });

    droppables.forEach((zone) => {
        zone.addEventListener("dragover", (e) => {
            e.preventDefault();
            const curPost = document.querySelector(".is-dragging");
            if (!curPost) {
                console.log('No post is being dragged.');
                return;
            }

            const postAuthorId = curPost.dataset.author;
            const postStatus = curPost.closest('.column').dataset.status;
            const targetStatus = zone.dataset.status;

            console.log(`Trying to move post ID: ${curPost.id} from ${postStatus} to ${targetStatus}`);

            if (canMovePost(postStatus, targetStatus, postAuthorId)) {
                if ((postStatus === 'to_edit' && targetStatus === 'draft') || (postStatus === 'to_publish' && targetStatus === 'to_edit')) {
                    // Show modal for reason input
                    const modalHtml = `
                        <div class="modal fade" id="reasonModal" tabindex="-1" aria-labelledby="reasonModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content bg-dark text-white">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="reasonModalLabel">Razón del cambio de estado</h5>
                                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label for="reasonInput" class="form-label">Por favor, proporciona una razón para este cambio:</label>
                                            <input type="text" class="form-control bg-dark text-white" id="reasonInput">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-primary" id="confirmReasonButton">Aceptar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `;
                    document.body.insertAdjacentHTML('beforeend', modalHtml);
                    const reasonModal = new bootstrap.Modal(document.getElementById('reasonModal'));
                    reasonModal.show();

                    document.getElementById('confirmReasonButton').addEventListener('click', () => {
                        const reason = document.getElementById('reasonInput').value;
                        console.log(`Razón del cambio: ${reason} del post ID: ${curPost.id}`);
                        reasonModal.hide();
                        document.getElementById('reasonModal').remove();

                        // Proceed with the move
                        zone.appendChild(curPost);
                        const post_id = curPost.id.split('-')[1]; // Extract post ID from card ID
                        curPost.dataset.status = targetStatus; // Update the data-status attribute
                        updatePostLink(curPost, post_id, targetStatus); // Update the post link
                        movedPosts.push({ post_id, status_id: targetStatus, reason });
                    });

                    document.querySelector('.modal .btn-close, .modal .btn-secondary').addEventListener('click', () => {
                        reasonModal.hide();
                        document.getElementById('reasonModal').remove();
                    });
                } else {
                    // Proceed with the move
                    zone.appendChild(curPost);
                    const post_id = curPost.id.split('-')[1]; // Extract post ID from card ID
                    curPost.dataset.status = targetStatus; // Update the data-status attribute
                    updatePostLink(curPost, post_id, targetStatus); // Update the post link
                    movedPosts.push({ post_id, status_id: targetStatus });
                }
            }
        });
    });

    actualizarButton.addEventListener("click", () => {
        console.log('Moved Posts:', movedPosts); // Debugging statement
        send_bulk_request(movedPosts);
        movedPosts = []; // Clear the moved posts array after sending the request
    });

    function canMovePost(currentStatus, targetStatus, postAuthorId) {
        console.log(`Checking permissions for moving post from ${currentStatus} to ${targetStatus} by user ${userId}`);
        if (currentStatus === 'draft' && targetStatus === 'to_edit' && canCreate && postAuthorId == userId) {
            return true;
        }
        if (currentStatus === 'to_edit' && (targetStatus === 'draft' || targetStatus === 'to_publish') && canEdit) {
            return true;
        }
        if (currentStatus === 'to_publish' && (targetStatus === 'published' || targetStatus === 'to_edit') && canPublish) {
            return true;
        }
        return false;
    }

    function updatePostLink(postElement, postId, statusId) {
        const titleElement = postElement.querySelector('.card-title');
        const posts = JSON.parse('{{ posts_json|escapejs }}');
        const currentMonth = '{{ current_month }}';
        const currentYear = '{{ current_year }}'
        let url = '';

        function getPostById(postId) {
            return posts.find(post => post.id === parseInt(postId));
        }

        function slugify(text) {
            return text.toString().toLowerCase()
                .replace(/\s+/g, '-')           // Replace spaces with -
                .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
                .replace(/\-\-+/g, '-')         // Replace multiple - with single -
                .replace(/^-+/, '')             // Trim - from start of text
                .replace(/-+$/, '');            // Trim - from end of text
        }

        switch (statusId) {
            case 'draft':
                url = `{% url 'edit-my-post' 0 %}`.replace('0', postId);
                titleElement.innerHTML = `<a href="${url}" class="card-link">${titleElement.textContent}</a>`;
                break;
            case 'to_edit':
                url = `{% url 'edit-a-post' 0 %}`.replace('0', postId);
                titleElement.innerHTML = `<a href="${url}" class="card-link">${titleElement.textContent}</a>`;
                break;
            case 'to_publish':
                url = `{% url 'publish-a-post' 0 %}`.replace('0', postId);
                titleElement.innerHTML = `<a href="${url}" class="card-link">${titleElement.textContent}</a>`;
                break;
            case 'published':
                const post = getPostById(postId);
                if (post) {
                    const category = slugify(post.category__name);
                    const title = slugify(post.title);
        
                    url = `{% url 'post' 0 'category' 'month' 'year' 'title' %}`
                        .replace('0', postId)
                        .replace('category', category)
                        .replace('month', currentMonth)
                        .replace('year', currentYear)
                        .replace('title', title);
        
                    titleElement.innerHTML = `<a href="${url}" class="card-link">${titleElement.textContent}</a>`;
                }
                else {
                    console.error(`Post with ID ${postId} not found in the posts list.`);
                }
                break;
        }
    }

    function send_bulk_request(movedPosts) {
        fetch("{% url 'update-posts-status' %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'), // Ensure CSRF token is included
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ movedPosts })
        })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data); // Debugging statement
                if (data.success) {
                    location.reload(); // Reload the page to see the changes
                }
            })
            .catch((error) => {
                console.error('Error:', error); // Debugging statement
            });
    }

    // Function to get CSRF token from cookies
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
});
</script>
<style>
    /* Title styles */
    .clickable {
        color: #007bff;
        cursor: pointer;
    }

    .non-clickable {
        color: black;
    }
    
    /* Profile Picture Styling */
    .profile-picture {
        width: 30px;
        height: 30px;
        object-fit: cover;
    }

    .card-title a {
        text-decoration: none;
    }

    .kanban-footer {
        position: sticky;
        bottom: 0;
        width: 100%;
        background: linear-gradient(to top, #212529, transparent);
        z-index: 1000;
        padding: 20px 0;
        text-align: center;
    }

    .kanban-footer .btn-primary {
        font-size: 18px;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .kanban-footer .btn-primary:hover {
        background-color: #0056b3;
    }
    
    .kanban-footer .btn-secondary {
        font-size: 18px;
        padding: 10px 20px;
        background-color: #6c757d;
        color: white;
        border: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .kanban-footer .btn-secondary:hover {
        background-color: #5a6268;
    }

    .smaller-text {
        font-size: 0.9em; /* Adjust the size as needed */
    }
</style>
{% endblock %}