{% extends "base.html" %}
{% block title %}{{ post.title_tag }}{% endblock %}
{% block content %}
<main role="main" class="container py-4">
    {% if thumbnail_url %}
        <img src="{{ thumbnail_url }}" class="img-fluid rounded-start" alt="Thumbnail Image" style="width: 25%;">
    {% endif %}
    <hr>
    <small>Fecha de inicio de publicación: {{ post.publish_start_date }}</small><br>
    <small>Fecha de fin de publicación: {{ post.publish_end_date }}</small><br>
    <h1>{{ post.title }}</h1>
    <blockquote class="blockquote">
        <small>{{ post.summary }}</small>
    </blockquote>
    <p>{{ post.body|safe }}</p>
    <small>Autor: {{ post.history_user.first_name }} {{ post.history_user.last_name }}</small><br>
    <small>Categoria: {{ post.category }}</small><br>
    <small>Etiquetas: {{ post.keywords }}</small><br>
    
    <!-- Flex container for button alignment -->
    <div class="d-flex justify-content-between py-4">
        <!-- Left aligned 'Volver' button -->
        {% if user == post.author %}
        <a href="{% url 'edit-my-post' post_pk %}" class="btn btn-light">Volver</a>
        {% else %}
        <a href="{% url 'edit-a-post' post_pk %}" class="btn btn-light">Volver</a>
        {% endif %}
        
        <!-- Right aligned 'Restaurar esta versión' button -->
        <form method="post" action="{% if user == post.author %}{% url 'edit-my-post' post_pk %}{% else %}{% url 'edit-a-post' post_pk %}{% endif %}">
            {% csrf_token %}
            <input type="hidden" name="operation" value="restore">
            <input type="hidden" name="post_id" value="{{ post.id }}">
            <input type="hidden" name="history_id" value="{{ post.pk }}">
            <button type="submit" class="btn btn-primary" value="restore">Restaurar esta versión</button>
        </form>
    </div>
</main>
{% endblock %}