{% extends "base.html" %}
{% block title %}{{ post.title_tag }}{% endblock %}
{% block content %}
<main role="main" class="container py-4">
	<h1>Publicar artículo</h1>

	<!-- Tabs de Bootstrap -->
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="vista-previa-tab" data-bs-toggle="tab" href="#vista-previa" role="tab"
				aria-controls="vista-previa" aria-selected="true">Vista previa</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="observaciones-tab" data-bs-toggle="tab" href="#observaciones" role="tab"
				aria-controls="observaciones" aria-selected="false">Observaciones de versiones</a>
		</li>
	</ul>

	<!-- Contenido de las Tabs -->
	<div class="tab-content" id="myTabContent">
		<!-- Vista previa Tab -->
		<div class="tab-pane fade show active" id="vista-previa" role="tabpanel" aria-labelledby="vista-previa-tab">
			<div class="py-3">
				<h1>{{ post.title }}</h1>
				<blockquote class="blockquote">
					<small>{{ post.summary }}</small>
				</blockquote>
				<hr>
				<p>{{ post.body|safe }}</p>
				<small>Autor: {{ post.author.first_name }} {{ post.author.last_name }}</small><br>
				<small>Categoría: {{ post.category }}</small><br>
				<small>Etiquetas: {{ post.keywords }}</small><br>

				<div class="d-flex justify-content-between py-4">
                    <a href="{% url 'to-publish' %}" class="btn btn-light">Volver</a>
                    <div>
                        <form method="post" action="{% url 'publish-a-post' post.pk %}" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" name="status" value="to_edit" class="btn btn-secondary">Mandar a edición</button>
                            <button type="submit" name="status" value="published" class="btn btn-primary">Publicar</button>
                        </form>
                    </div>
                </div>
			</div>
		</div>

		<!-- Observaciones de versiones Tab -->
		<div class="tab-pane fade" id="observaciones" role="tabpanel" aria-labelledby="observaciones-tab">
			<div class="py-3">
				<h1>Observaciones de versiones</h1>
				<!-- Aquí podrías agregar el contenido específico sobre observaciones -->
			</div>
		</div>
	</div>
</main>

<!-- Incluir JavaScript de Bootstrap -->
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var triggerTabList = [].slice.call(document.querySelectorAll('#myTab a'))
		triggerTabList.forEach(function (triggerEl) {
			var tabTrigger = new bootstrap.Tab(triggerEl)

			triggerEl.addEventListener('click', function (event) {
				event.preventDefault()
				tabTrigger.show()
			})
		})
	});
</script>
{% endblock %}