{% extends "base.html" %}
{% block title %}{{ post.title_tag }}{% endblock %}
{% block content %}
{% load custom_filters %}
<main role="main" class="container py-4">
    <h1>Publicar artículo</h1>

    <!-- Tabs de Bootstrap -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="vista-previa-tab" data-bs-toggle="tab" href="#vista-previa" role="tab"
                aria-controls="vista-previa" aria-selected="true">Vista previa</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="informacion-adicional-tab" data-bs-toggle="tab" href="#informacion-adicional"
                role="tab" aria-controls="informacion-adicional" aria-selected="false">Información adicional</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="vista-portada-tab" data-bs-toggle="tab" href="#vista-portada" role="tab"
                aria-controls="vista-portada" aria-selected="false">Vista de la portada</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="observaciones-tab" data-bs-toggle="tab" href="#observaciones" role="tab"
                aria-controls="observaciones" aria-selected="false">Observaciones</a>
        </li>
    </ul>

    <!-- Contenido de las Tabs -->
    <div class="tab-content" id="myTabContent">
        <!-- Vista previa Tab -->
        <div class="tab-pane fade show active" id="vista-previa" role="tabpanel" aria-labelledby="vista-previa-tab">
            <div class="container my-3 p-3 bg-dark text-white rounded">
                <div class="row g-0">
                    <!-- Conditionally apply classes based on the presence of a thumbnail -->
                    <div class="{% if post.thumbnail %}col-md-7{% else %}col-12 text-center{% endif %} d-flex flex-column justify-content-center">
                        <div class="card-body p-2">
                            <!-- Título del post -->
                            <h1 class="display-5 text-white">{{ post.title }}</h1>
        
                            <!-- Resumen del post -->
                            <blockquote class="blockquote">
                                <p class="mb-0 text-white">― {{ post.summary }}</p>
                            </blockquote>
        
                            <!-- Información del autor, categoría, etiquetas y fechas -->
                            <div class="mt-3">
                                <div class="row">
                                    <!-- Columna para la información del autor -->
                                    <div class="d-flex align-items-center my-2">
                                        {% if post.author.pfp %}
                                            <img src="{{ post.author.pfp.url }}" class="rounded-circle me-2" alt="Author Thumbnail" style="width: 50px; height: 50px;">
                                        {% else %}
                                            <img src="https://storage.googleapis.com/bucket-weblio/media/profile_pictures/default_pfp.jpg" class="rounded-circle me-2" alt="Default Thumbnail" style="width: 50px; height: 50px;">
                                        {% endif %}
                                        <div class="text-start">
                                            <p class="mb-1">
                                                <strong>Autor: {{ post.author.first_name }} {{ post.author.last_name }}</strong><br>
                                                <small class="text-white">
                                                    Categoría: {{ post.category }} |
                                                    Etiquetas: {{ post.keywords }} |
                                                    {% if post.publish_start_date and post.publish_end_date %}
                                                    <span id="availability" class="small-text" 
                                                            data-start-date="{{ post.publish_start_date|date:"Y-m-d\TH:i:s" }}" 
                                                            data-end-date="{{ post.publish_end_date|date:"Y-m-d\TH:i:s" }}">
                                                        Calculando días...
                                                    </span>
                                                    {% else %}
                                                        <span id="availability" class="small-text">Calculando días...</span>
                                                    {% endif %}
                                                </small>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <!-- Imagen del post (Portada) al lado derecho -->
                    {% if post.thumbnail %}
                    <div class="col-md-5 d-flex align-items-center">
                        <img src="{{ post.thumbnail.url }}" class="img-fluid rounded" alt="Thumbnail" style="width: 100%; height: auto; max-height: 300px; object-fit: cover;">
                    </div>
                    {% endif %}
                </div>
                <hr>
                <p>{{ post.body|safe }}</p>
            </div>
        </div>        

        <!-- Información adicional Tab -->
        <div class="tab-pane fade" id="informacion-adicional" role="tabpanel" aria-labelledby="informacion-adicional-tab">
            <div class="container py-4">
                <div class="row">
                    <!-- Column for publication dates -->
                    <div class="col-md-6 d-flex flex-column">
                        <div class="d-flex flex-column flex-fill">
                            <!-- Start Date Card -->
                            <div class="card text-white mb-3" style="background-color: #343a40; border: none;">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <i class="bi bi-calendar-event"></i> Fecha de inicio de publicación
                                    </h5>
                                    <div class="form-group">
                                        {% if publish_start_date %}
                                            <p>{{ publish_start_date|date:"l"|capitalize_first }}, {{ publish_start_date|date:"F"|capitalize_first }} {{ publish_start_date|date:"j, Y, g:i A" }}</p>
                                        {% else %}
                                            <p>No hay una fecha de inicio de publicación disponible.</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
        
                            <!-- End Date Card -->
                            <div class="card text-white mt-3 flex-fill" style="background-color: #343a40; border: none;">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <i class="bi bi-calendar-x"></i> Fecha de fin de publicación
                                    </h5>
                                    <div class="form-group">
                                        {% if publish_end_date %}
                                            <p>{{ publish_end_date|date:"l"|capitalize_first }}, {{ publish_end_date|date:"F"|capitalize_first }} {{ publish_end_date|date:"j, Y, g:i A" }}</p>
                                        {% else %}
                                            <p>No hay una fecha de fin de publicación disponible.</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <!-- Column for the thumbnail -->
                    <div class="col-md-6 d-flex flex-column">
                        <div class="card text-white h-100" style="background-color: #343a40; border: none;">
                            <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                <h5 class="card-title">
                                    <i class="bi bi-image"></i> Foto de portada
                                </h5>
                                <div class="card-thumbnail-container my-3 text-center flex-grow-1 d-flex align-items-center justify-content-center">
                                    {% if post.thumbnail %}
                                        <img src="{{ post.thumbnail.url }}" class="img-fluid rounded" alt="{{ post.title }}" style="max-height: 300px; object-fit: cover;">
                                    {% else %}
                                        <div class="no-thumbnail" style="background-color: #495057; padding: 20px; border-radius: 8px; text-align: center;">
                                            <p class="mb-0">No hay una foto de portada subida.</p>
                                            <i class="bi bi-file-earmark-image" style="font-size: 2rem; color: #adb5bd;"></i>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        

        <!-- Nueva pestaña para la vista de la portada -->
        <div class="tab-pane fade" id="vista-portada" role="tabpanel" aria-labelledby="vista-portada-tab">
            <div class="py-3">
                <div class="card mb-3 w-100 card-hover position-relative">
                    <div class="row g-0">
                        <!-- Conditionally show the image column only if there's a thumbnail -->
                        {% if post.thumbnail %}
                        <div class="col-md-3">
                            <div class="thumbnail-container">
                                <img src="{{ post.thumbnail.url }}" class="img-fluid rounded-start thumbnail-img" alt="{{ post.title }}">
                            </div>
                        </div>
                        <div class="col-md-9"> <!-- 9-column content when thumbnail exists -->
                        {% else %}
                        <div class="col-md-12"> <!-- Full width content when no thumbnail -->
                        {% endif %}
                            <div class="card-body">
                                <div>
                                    <h4 class="card-title post-title">{{ post.title }}</h4>
                                    <p class="card-text post-summary">— {{ post.summary }}</p>
                                </div>
                                <div class="post-extra-info d-flex align-items-center mt-auto">
                                    <!-- Author's profile picture -->
                                    <div class="d-flex align-items-center">
                                        {% if post.author.pfp %}
                                            <img src="{{ post.author.pfp.url }}" alt="{{ post.author.first_name }}" class="profile-picture rounded-circle me-2">
                                        {% else %}
                                            <img src="https://picsum.photos/200" alt="{{ post.author.first_name }}" class="profile-picture rounded-circle me-2">
                                        {% endif %}
                                        <!-- Author's name and category -->
                                        <span class="text-muted">
                                            <strong>{{ post.author.first_name }} {{ post.author.last_name }}</strong> en <strong>{{ post.category }}</strong>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Observaciones de versiones Tab -->
        <div class="tab-pane fade" id="observaciones" role="tabpanel" aria-labelledby="observaciones-tab">
            <div class="container-fluid">
                <div class="py-3">
                    <h2>Observaciones de cambios de estado</h2>
                    <table class="table table-dark table-hover">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Usuario</th>
                                <th>Estado Anterior</th>
                                <th>Estado Nuevo</th>
                                <th>Observación</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in post_history_page %}
                            <tr>
                                <td>{{ record.history_date|date:"d M Y, H:i" }}</td>
                                <td>{{ record.history_user }}</td>
                                <td>
                                    {% if record.prev_record %}
                                    {{ state_mapping|dict_get:record.prev_record.status }}
                                    {% else %}
                                    Sin estado anterior
                                    {% endif %}
                                </td>
                                <td>
                                    {{ state_mapping|dict_get:record.status }}
                                </td>
                                <td>{{ record.change_reason }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- Pagination Controls -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center" data-bs-theme="dark">
                            {% if post_history_page.has_previous %}
                            <li class="page-item">
                                <a class="page-link"
                                    href="?page={{ post_history_page.previous_page_number }}#observaciones"
                                    aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% endif %}
                            {% for num in post_history_page.paginator.page_range %}
                            <li class="page-item {% if post_history_page.number == num %}active{% endif %}">
                                <a class="page-link" href="?page={{ num }}#observaciones">{{ num }}</a>
                            </li>
                            {% endfor %}
                            {% if post_history_page.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ post_history_page.next_page_number }}#observaciones"
                                    aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- Botones al final visibles en todas las pestañas -->
    <div class="d-flex justify-content-between py-4">
        <a href="{% url 'to-publish' %}" class="btn btn-light">Volver</a>
        <div>
            <form method="post" action="{% url 'publish-a-post' post.pk %}" id="post-form" class="d-inline">
                {% csrf_token %}
                <button type="button" class="btn btn-secondary my-0" data-bs-toggle="modal"
                    data-bs-target="#changeReasonEditModal">Mandar a edición</button>
                <button type="submit" name="status" value="published" class="btn btn-primary">Publicar</button>
            </form>
        </div>
    </div>

    <!-- Modal for Change Reason Edit -->
    <div class="modal fade" id="changeReasonEditModal" tabindex="-1" role="dialog"
        aria-labelledby="changeReasonEditLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="changeReasonEditLabel">Observación</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="changeReasonEditInput">Agrega una observación para el cambio de estado del
                        artículo:</label>
                    <input type="text" id="changeReasonEditInput" class="form-control bg-dark text-white mt-2">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="submit-change-reason-edit">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</main>       
<!-- Incluir JavaScript de Bootstrap -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Handle the change reason modal for sending a post to to-edit
        document.getElementById('submit-change-reason-edit').addEventListener('click', function () {
            var reason = document.getElementById('changeReasonEditInput').value;
            if (reason) {
                var changeReasonEditInput = document.createElement('input');
                changeReasonEditInput.type = 'hidden';
                changeReasonEditInput.name = 'change_reason';
                changeReasonEditInput.value = reason;
                document.getElementById('post-form').appendChild(changeReasonEditInput);

                var statusEditInput = document.createElement('input');
                statusEditInput.type = 'hidden';
                statusEditInput.name = 'status';
                statusEditInput.value = 'to_edit';
                document.getElementById('post-form').appendChild(statusEditInput);

                document.getElementById('post-form').submit(); // Submit the form after reason is filled
                var editModal = new bootstrap.Modal(document.getElementById('changeReasonEditModal'));
                editModal.hide(); // Hide the modal
            } else {
                alert('Please provide a reason for changing the status.');
            }
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var triggerTabList = [].slice.call(document.querySelectorAll('#myTab a'))
        triggerTabList.forEach(function (triggerEl) {
            var tabTrigger = new bootstrap.Tab(triggerEl)

            triggerEl.addEventListener('click', function (event) {
                event.preventDefault()
                tabTrigger.show()
            })
        });

        // Activar la pestaña de observaciones si el hash está presente en la URL
        if (window.location.hash === '#observaciones') {
            var tabEl = document.querySelector('#observaciones-tab')
            var tab = new bootstrap.Tab(tabEl)
            tab.show()
        }
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var availabilityElement = document.getElementById("availability");
        if (availabilityElement) {
            var startDate = availabilityElement.getAttribute("data-start-date");
            var endDate = availabilityElement.getAttribute("data-end-date");

            if (startDate && endDate) {
                // Convert the date strings into Date objects
                startDate = new Date(startDate);
                endDate = new Date(endDate);

                // Check if the dates are valid
                if (!isNaN(startDate.getTime()) && !isNaN(endDate.getTime())) {
                    var timeDiff = endDate - startDate; // Difference in milliseconds
                    var daysBetween = Math.floor(timeDiff / (1000 * 60 * 60 * 24)); // Convert milliseconds to days
                    
                    if (daysBetween > 0) {
                        availabilityElement.innerHTML = '<small class="text-white">Disponible por ' + daysBetween + ' días</small>';
                    } else {
                        // If no days, check the hours
                        var hoursBetween = Math.floor(timeDiff / (1000 * 60 * 60)); // Convert milliseconds to hours
                        
                        if (hoursBetween > 0) {
                            availabilityElement.innerHTML = '<small class="text-white">Disponible por ' + hoursBetween + ' horas</small>';
                        } else {
                            // If no hours, check the minutes
                            var minutesBetween = Math.floor(timeDiff / (1000 * 60)); // Convert milliseconds to minutes
                            
                            if (minutesBetween > 0) {
                                availabilityElement.innerHTML = '<small class="text-white">Disponible por ' + minutesBetween + ' minutos</small>';
                            } else {
                                availabilityElement.innerHTML = '<small class="text-white">Disponible por menos de un minuto</small>';
                            }
                        }
                    }
                } else {
                    availabilityElement.innerHTML = '<small class="text-white">Fecha inválida</small>';
                }
            } else {
                // Default to 7 days if dates are not available
                availabilityElement.innerHTML = '<small class="text-white">Disponible por 7 días</small>';
            }
        }
    });
</script>
<style>
    .small-text {
        font-size: 1.15em; /* Ajusta el tamaño según sea necesario */
    }
    /* Thumbnail and Profile Picture Styles */
    .thumbnail-container {
        width: 100%;
        padding-top: 100%; /* 1:1 Aspect Ratio */
        position: relative;
    }
    
    .thumbnail-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    /* Profile Picture Styling */
    .profile-picture {
        width: 35px;
        height: 35px;
        object-fit: cover;
    }
    
    /* Card body layout */
    .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    
    /* Title styling */
    .post-title {
        font-size: 1.5rem;
        color: #007bff;
        margin-bottom: 0.5rem;
    }
    
    /* Summary styling */
    .post-summary {
        font-size: 1.1rem;
        color: #495057;
        margin-bottom: 1rem;
        line-height: 1.5;
    }
    
    /* Extra info section */
    .post-extra-info {
        display: flex;
        align-items: center;
        font-size: 0.9rem;
        color: #6c757d;
        margin-top: auto;
    }
    
    .post-extra-info img {
        margin-right: 10px;
    }
    /* Center the title and content */
    h1 {
        text-align: center;
    }
    
    .container {
        max-width: 1000px; /* Restrict the container's max width to center the content */
        margin: 0 auto; /* Center the container */
    }

    /* Ensure that the cards stretch to the same height */
    .flex-fill {
        flex: 1;
    }

    /* Thumbnail and "No Thumbnail" Styling */
    .no-thumbnail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        background-color: #495057;
        border-radius: 8px;
    }

    .no-thumbnail i {
        margin-top: 10px; /* Space above the icon */
    }

    /* Make sure the thumbnail fits within the card without overflow */
    .card-thumbnail-container img {
        max-width: 100%;
        height: auto;
        max-height: 300px;
        object-fit: cover;
    }
</style>
{% endblock %}