{% extends "base.html" %}
{% block title %}{{ post.title_tag }}{% endblock %}
{% block content %}
{% load custom_filters %}
<main role="main" class="container py-4">
    <h1>Publicar artículo</h1>

    <!-- Tabs de Bootstrap -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="vista-previa-tab" data-bs-toggle="tab" href="#vista-previa" role="tab"
                aria-controls="vista-previa" aria-selected="true">Vista previa</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="informacion-adicional-tab" data-bs-toggle="tab" href="#informacion-adicional"
                role="tab" aria-controls="informacion-adicional" aria-selected="false">Información adicional</a>
        </li>
        <li class="nav-item"></li>
        <a class="nav-link" id="vista-portada-tab" data-bs-toggle="tab" href="#vista-portada" role="tab"
            aria-controls="vista-portada" aria-selected="false">Vista de la portada</a>
        </li>
        <li class="nav-item"></li>
        <a class="nav-link" id="observaciones-tab" data-bs-toggle="tab" href="#observaciones" role="tab"
            aria-controls="observaciones" aria-selected="false">Observaciones</a>
        </li>
    </ul>

    <!-- Contenido de las Tabs -->
    <div class="tab-content" id="myTabContent">
        <!-- Vista previa Tab -->
        <div class="tab-pane fade show active" id="vista-previa" role="tabpanel" aria-labelledby="vista-previa-tab">
            <div class="py-3">
                <h1>{{ post.title }}</h1>
                <blockquote class="blockquote">
                    <small>{{ post.summary }}</small>
                </blockquote>
                <hr>
                <p>{{ post.body|safe }}</p>
                <small>Autor: {{ post.author.first_name }} {{ post.author.last_name }}</small><br>
                <small>Categoría: {{ post.category }}</small><br>
                <small>Etiquetas: {{ post.keywords }}</small><br>

                <div class="d-flex justify-content-between py-4">
                    <a href="{% url 'to-publish' %}" class="btn btn-light">Volver</a>
                    <div>
                        <form method="post" action="{% url 'publish-a-post' post.pk %}" id="post-form" class="d-inline">
                            {% csrf_token %}
                            <button type="button" class="btn btn-secondary my-0" data-bs-toggle="modal"
                                data-bs-target="#changeReasonEditModal">Mandar a edición</button>
                            <button type="submit" name="status" value="published"
                                class="btn btn-primary">Publicar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Información adicional Tab -->
        <div class="tab-pane fade" id="informacion-adicional" role="tabpanel"
            aria-labelledby="informacion-adicional-tab">
            <div class="py-3">
                <div class="row">
                    <!-- Columna para las fechas de publicación -->
                    <div class="col-md-6">
                        <!-- Contenedor que une las dos cartas de fechas -->
                        <div class="d-flex flex-column h-100 justify-content-between">
                            <!-- Carta para la fecha de inicio -->
                            <div class="card bg-dark text-white mb-3 border border-light flex-fill">
                                <div class="card-body">
                                    <h5 class="card-title">Fecha de inicio de publicación</h5>
                                    <div class="form-group">
                                        {% if publish_start_date %}
                                        <p>{{ publish_start_date|date:"l"|capitalize_first }},
                                            {{ publish_start_date|date:"F"|capitalize_first }}
                                            {{ publish_start_date|date:"j, Y, g:i A" }}</p>
                                        {% else %}
                                        <p>No hay una fecha de inicio de publicación disponible.</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <!-- Carta para la fecha de fin -->
                            <div class="card bg-dark text-white border border-light flex-fill">
                                <div class="card-body">
                                    <h5 class="card-title">Fecha de fin de publicación</h5>
                                    <div class="form-group">
                                        {% if publish_end_date %}
                                        <p>{{ publish_end_date|date:"l"|capitalize_first }},
                                            {{ publish_end_date|date:"F"|capitalize_first }}
                                            {{ publish_end_date|date:"j, Y, g:i A" }}</p>
                                        {% else %}
                                        <p>No hay una fecha de fin de publicación disponible.</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Columna para la foto de portada -->
                    <div class="col-md-6">
                        <!-- Carta para la foto de portada -->
                        <div class="card bg-dark border border-light text-white h-100">
                            <div class="card-body">
                                <h5 class="card-title">Foto de portada</h5>
                                <div class="card-thumbnail-container">
                                    {% if post.thumbnail %}
                                    <img src="{{ post.thumbnail.url }}" class="img-fluid rounded-start" alt="{{ post.title }}">
                                    {% else %}
                                    <p>No hay una foto de portada subida.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Nueva pestaña para la vista de la portada -->
        <div class="tab-pane fade" id="vista-portada" role="tabpanel" aria-labelledby="vista-portada-tab">
            <div class="py-3">
                <div class="card mb-3 w-100">
                    <div class="row g-0">
                        <div class="col-md-3">
                            <div class="thumbnail-container">
                                {% if post.thumbnail %}
                                <img src="{{ post.thumbnail.url }}" class="thumbnail-img rounded-start"
                                    alt="{{ post.title }}">
                                {% else %}
                                <p>No hay una foto de portada subida.</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title"><span class="text-decoration-underline text-primary">{{post.title }}</span></h5>
                                <p class="card-text text-black">{{ post.summary|safe }}</p>
                                <p class="card-text"><small class="text-muted">Autor: {{ post.author.first_name }} {{post.author.last_name }}</small></p>
                                <p class="card-text"><small class="text-muted">Categoría: {{ post.category }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Observaciones de versiones Tab -->
        <div class="tab-pane fade" id="observaciones" role="tabpanel" aria-labelledby="observaciones-tab">
            <div class="container-fluid">
                <div class="py-3">
                    <h2>Observaciones de cambios de estado</h2>
                    <table class="table table-dark table-hover">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Usuario</th>
                                <th>Estado Anterior</th>
                                <th>Estado Nuevo</th>
                                <th>Observación</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for record in post_history_page %}
                            <tr>
                                <td>{{ record.history_date|date:"d M Y, H:i" }}</td>
                                <td>{{ record.history_user }}</td>
                                <td>
                                    {% if record.prev_record %}
                                    {{ state_mapping|dict_get:record.prev_record.status }}
                                    {% else %}
                                    Sin estado anterior
                                    {% endif %}
                                </td>
                                <td>
                                    {{ state_mapping|dict_get:record.status }}
                                </td>
                                <td>{{ record.change_reason }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- Pagination Controls -->
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center" data-bs-theme="dark">
                            {% if post_history_page.has_previous %}
                            <li class="page-item">
                                <a class="page-link"
                                    href="?page={{ post_history_page.previous_page_number }}#observaciones"
                                    aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% endif %}
                            {% for num in post_history_page.paginator.page_range %}
                            <li class="page-item {% if post_history_page.number == num %}active{% endif %}">
                                <a class="page-link" href="?page={{ num }}#observaciones">{{ num }}</a>
                            </li>
                            {% endfor %}
                            {% if post_history_page.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ post_history_page.next_page_number }}#observaciones"
                                    aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Change Reason Edit -->
    <div class="modal fade" id="changeReasonEditModal" tabindex="-1" role="dialog"
        aria-labelledby="changeReasonEditLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="changeReasonEditLabel">Observación</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="changeReasonEditInput">Agrega una observación para el cambio de estado del
                        artículo:</label>
                    <input type="text" id="changeReasonEditInput" class="form-control bg-dark text-white mt-2">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="submit-change-reason-edit">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</main>


<!-- Incluir JavaScript de Bootstrap -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Handle the change reason modal for sending a post to to-edit
        document.getElementById('submit-change-reason-edit').addEventListener('click', function () {
            var reason = document.getElementById('changeReasonEditInput').value;
            if (reason) {
                var changeReasonEditInput = document.createElement('input');
                changeReasonEditInput.type = 'hidden';
                changeReasonEditInput.name = 'change_reason';
                changeReasonEditInput.value = reason;
                document.getElementById('post-form').appendChild(changeReasonEditInput);

                var statusEditInput = document.createElement('input');
                statusEditInput.type = 'hidden';
                statusEditInput.name = 'status';
                statusEditInput.value = 'to_edit';
                document.getElementById('post-form').appendChild(statusEditInput);

                document.getElementById('post-form').submit(); // Submit the form after reason is filled
                var editModal = new bootstrap.Modal(document.getElementById('changeReasonEditModal'));
                editModal.hide(); // Hide the modal
            } else {
                alert('Please provide a reason for changing the status.');
            }
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var triggerTabList = [].slice.call(document.querySelectorAll('#myTab a'))
        triggerTabList.forEach(function (triggerEl) {
            var tabTrigger = new bootstrap.Tab(triggerEl)

            triggerEl.addEventListener('click', function (event) {
                event.preventDefault()
                tabTrigger.show()
            })
        });

        // Activar la pestaña de observaciones si el hash está presente en la URL
        if (window.location.hash === '#observaciones') {
            var tabEl = document.querySelector('#observaciones-tab')
            var tab = new bootstrap.Tab(tabEl)
            tab.show()
        }
    });
</script>
<style>
    .thumbnail-container {
        width: 100%;
        padding-top: 100%;
        /* 1:1 Aspect Ratio */
        position: relative;
    }

    .thumbnail-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card-thumbnail-container {
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center;     /* Centra la imagen verticalmente */
    padding: 10px;           /* Añade un poco de padding alrededor de la imagen */
    border-radius: 10px;     /* Bordes redondeados */
    background-color: #212529; /* Fondo oscuro para la imagen */
    }

    .card-thumbnail-container img {
    border-radius: 0.25rem; /* Ajusta el valor según tus necesidades */
    }
</style>
{% endblock %}