{% extends 'base.html' %}
{% block title %} Change Password {% endblock %}
{% block content %}

<div class="d-flex justify-content-center py-4">
    <div class="col-md-4">
        <h1 class="text-center mb-4"> Cambiar Contraseña </h1>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.old_password.id_for_label }}" class="form-label">Contraseña anterior</label>
                    {{ form.old_password }}
                    {% if form.old_password.errors %}
                        <div class="text-danger">
                            {{ form.old_password.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="{{ form.new_password1.id_for_label }}" class="form-label">Contraseña nueva</label>
                    {{ form.new_password1 }}
                    {% if form.new_password1.errors %}
                        <div class="text-danger">
                            {{ form.new_password1.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="{{ form.new_password2.id_for_label }}" class="form-label">Vuelva a ingresar su contraseña nueva</label>
                    {{ form.new_password2 }}
                    {% if form.new_password2.errors %}
                        <div class="text-danger">
                            {{ form.new_password2.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="d-flex justify-content-between py-4">
                    <button class="btn btn-primary w-50 me-2">Guardar Cambios</button>
                    <a href="{% url 'profile' %}" class="btn btn-secondary w-50">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

<style>
    .text-danger {
        color: red;
    }

    .is-invalid {
        border-color: red;
    }
</style>