{% extends "base.html" %}

{% block content %}
<main class="container">
    <h1>Editar permisos de {{ member.username }}</h1>
    <label>Roles: {{ group_names|join:", " }}</label>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-light">Guardar</button>
        <a href="{% url 'member-list' %}" class="btn btn-light">Cancelar</a>
    </form>
</main>
{% endblock %}

<style>
    body {
        background-color: #121212;
        color: #ffffff;
    }
</style>