{% extends "base.html" %}

{% block content %}
<main class="container py-4">
    <h2>Editar roles de {{ member.username }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }} 
        <button type="submit" class="btn btn-light">Guardar</button>
        <a href="{% if next_url %}{{ next_url }}{% else %}{% url 'member-list' %}{% endif %}" class="btn btn-light">Cancelar</a>
    </form>
</main>
{% endblock %}

<style>
    body {
        background-color: #121212;
        color: #ffffff;
    }
</style>