{% extends 'base.html' %}
{% block title %}Editar Perfil{% endblock %}
{% block content %}

<div class="py-4"></div>

<h1 class="text-center mb-4">Editar Perfil</h1>

<div class="container d-flex justify-content-center">
    <div class="form-group col-md-6">
        <div class="d-flex justify-content-center mb-4">
            <div class="profile-pic-container">
                {% if user.pfp %}
                    <img src="{{ user.pfp.url }}" alt="Foto de perfil" class="img-fluid rounded-circle" style="width: 150px; height: 150px; object-fit: cover;">
                {% else %}
                    <img src="https://picsum.photos/seed/picsum/150" alt="Foto de perfil" class="img-fluid rounded-circle" style="width: 150px; height: 150px; object-fit: cover;">
                {% endif %}            
            </div>
        </div>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-between py-4">
                <button class="btn btn-primary me-2 w-50">Guardar Cambios</button>
                <a href="{% url 'profile' %}" class="btn btn-secondary w-50">Cancelar</a>
            </div>
        </form>
    </div>
</div>

<style>
    .profile-pic-container {
        width: 150px;
        height: 150px;
        background-color: #e0e0e0; 
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profile-pic-container img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    .reset-link {
        text-decoration: none;
        color: #007bff;
    }

    .reset-link:hover {
        text-decoration: underline;
        color: #0056b3;
    }
</style>

{% endblock %}