{% extends "base.html" %}
{% block title %}Log in!{% endblock %}
{% block content %}
<main class="container-fluid p-0 m-0" style="height: 92vh; overflow: hidden;">
    <div class="row h-100 m-0">
        <div class="col-md-6 p-0 d-none d-md-block">
            <img src="https://picsum.photos/seed/picsum/1080" alt="Placeholder Image" class="img-fluid w-100 h-100" style="object-fit: cover;">
        </div>
        <div class="col-md-12 col-lg-6 d-flex flex-column align-items-center justify-content-start p-0 position-relative">
            <form method="POST" action="{% url 'member-login' %}" class="w-75 mt-5" style="flex-grow: 1;">
                {% csrf_token %}
                <h2 class="text-start">Iniciar sesión</h2>
                <div class="w-100">
                    <div class="mb-3">
                        <label for="id_username" class="form-label">Usuario</label>
                        <input type="text" name="username" id="id_username" placeholder="Ingrese su usuario" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="id_password" class="form-label">Contraseña</label>
                        <input type="password" name="password" id="id_password" placeholder="Ingrese su contraseña" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                    <div class="d-flex justify-content-between mt-3">
                        <p>No tienes una cuenta? <a href="{% url 'member-register' %}">Registrate!</a></p>
                        <a href="{% url 'reset_password' %}">Olvide mi contraseña</a>
                    </div>
                </div>
            </form>
            <div class="contact-info text-center w-75 p-3" style="background-color: #333; border-radius: 15px; position: absolute; bottom: 10vh; color: #fff; border: 1px solid #555;">
                <p><strong>Tienes problemas? Ponte en contacto!</strong></p>
                <div class="d-flex justify-content-center flex-wrap">
                    <div class="me-3">
                        <p><i class="fas fa-envelope me-2"></i> <a href="mailto:weblio.team@gmail.com" style="color: #4aa1ff;">weblio.team@gmail.com</a></p>
                    </div>
                    <div>
                        <p><i class="fas fa-phone me-2"></i> <span style="color: #4aa1ff;">+123456789</span></p>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</main>
{% endblock %}