{% extends "base.html" %}
{% block content %}
    <main class="container py-4">
        <h1 class="text-center">Mis Artículos</h1>
        <div class="row" id="masonry-grid" data-masonry='{"percentPosition": true }'>
            {% for post in object_list %}
            <div class="col-sm-6 col-md-4 mb-4 d-flex align-items-stretch">
                <div class="card w-100 h-100" style="height: {{ post.height }}px;">
                    {% if post.thumbnail %}
                        <!-- Mostrar imagen solo si existe -->
                        <img src="{{ post.thumbnail.url }}" class="img-fluid rounded-top" alt="{{ post.title }}" style="object-fit: cover; width: 100%; height: {{ post.height }}px;">
                    {% endif %}
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">
                            <a href="{% url 'post' post.pk post.category.name|slugify post.date_posted|date:'m' post.date_posted|date:'Y' post.title|slugify %}">
                                {{ post.title }}
                            </a>
                        </h5>
                        <p class="card-text flex-grow-1">{{ post.summary|safe }}</p>
                        <div class="mt-auto">
                            <p class="card-text">
                                <small class="text-muted">Autor: {{ post.author.first_name }} {{ post.author.last_name }}</small>
                            </p>
                            <p class="card-text">
                                <small class="text-muted">Categoría: {{ post.category }}</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
                <p>No se encontraron artículos.</p>
            {% endfor %}
        </div>
    </main>

    <!-- Masonry JS -->
    <script>
        // Inicializa Masonry después de cargar las imágenes para asegurar que funcione correctamente
        document.addEventListener('DOMContentLoaded', function () {
            var grid = document.querySelector('#masonry-grid');
            var imgLoad = imagesLoaded(grid, function() {
                new Masonry(grid, {
                    itemSelector: '.col-md-4',
                    percentPosition: true
                });
            });
        });
    </script>
{% endblock %}