{% extends "base.html" %}
{% block title %}{{post.title_tag}}{% endblock  %}
{% block content %}
	<main role="main" class="container py-4">
		<h1>{{post.title}}</h1>
		<blockquote class="blockquote">
			<small>{{post.summary}}</small>
		</blockquote>
		<hr>
		<p>{{post.body|safe}}</p>
		<small>Autor: {{post.author.first_name}} {{post.author.last_name}} - {{post.date_posted}}</small></br>
		<small>Categoria: {{post.category}}</small></br>
		<small>Etiquetas: {{post.keywords}}</small></br>
		<div class="container mb-4 py-4">
			<div class="row text-center align-items-center mb-4">
				<div class="col-md-6 mb-3">
					<div class="views-counter">
						<p class="lead mb-1">Vistas</p>
						<span id="view-count"></span>
					</div>
				</div>
				<div class="col-md-6 mb-3">
					<p class="lead mb-1">Promedio de estrellas</p>
					<div 
						data-lyket-type="rate" 
						data-lyket-id="{{ post.id }}" 
						data-lyket-show-rating="average"
						data-lyket-namespace="blog"
						data-lyket-color-primary="yellow"   
						data-lyket-color-secondary="grey"   
						data-lyket-color-background="transparent"
						data-lyket-color-text="white"
					></div>
				</div>
			</div>

			<div class="row text-center align-items-center">
				<div class="col-md-6 mb-3">
					<p class="lead mb-1">¿Te gustó?</p>
					<div
						data-lyket-type="updown"
						data-lyket-id="{{ post.id }}"
						data-lyket-namespace="blog"
						data-lyket-color-primary="green"
						data-lyket-color-secondary="red"
						data-lyket-color-text="white"
						data-lyket-color-icon="dark"
						data-lyket-color-background="white"
					></div>
				</div>
				<div class="col-md-6 mb-3">
					<p class="lead mb-1">Tu calificación</p>
					<div 
						data-lyket-type="rate" 
						data-lyket-id="{{ post.id }}" 
						data-lyket-show-rating="user"
						data-lyket-namespace="blog"
						data-lyket-color-primary="yellow"   
						data-lyket-color-secondary="grey"   
						data-lyket-color-background="transparent"
						data-lyket-color-text="white"
					></div>
				</div>
			</div>
		</div>
		<script>
			document.addEventListener("DOMContentLoaded", function() {
				const postID = document.querySelector('[data-lyket-id]').getAttribute('data-lyket-id');
				const counterUrl = "https://api.lyket.dev/v1/clap-buttons/visits/" + postID + "/press";
			  	const apiKey = "{{ LYKET_API_KEY }}";
		
			  	const options = {
					method: "PUT",
					headers: {
				  		"Content-Type": "application/json",
				  		"Authorization": `Bearer ${apiKey}`
					}
			  	};
		
			  	fetch(counterUrl, options)
					.then(response => response.json())
					.then(({ data }) => {
				  			const resultContainer = document.getElementById("view-count");
				  			resultContainer.innerHTML = `${JSON.stringify( data.attributes.total_claps,)}`;
					})
					.catch(error => {
				  		console.error("Error:", error);
					});
				});
		</script>
		<script src="https://unpkg.com/@lyket/widget@latest/dist/lyket.js?apiKey={{ LYKET_API_KEY }}"></script>
		<div class="commentbox"></div>
		<script src="https://unpkg.com/commentbox.io/dist/commentBox.min.js"></script>
		<script>
			commentBox('5656563893141504-proj', {
				backgroundColor: null,  // Para usar el color de fondo de tu página
				textColor: '#fff',  	// Para que el texto sea blanco en modo oscuro
				subtextColor: '#ccc',  	// Subtexto en modo oscuro
				buttonColor: '#28a745',	// Color del botón
				darkMode: true  		// Activar el modo oscuro
			});
		</script>
		<a href="{% url 'posts' %}" class="btn btn-primary">Volver</a>
	</main>
{% endblock %}