{% extends "base.html" %}
{% block content %}
    <main role="main" class="container py-4">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <h1>{{category.name}} - {{category.alias}}</h1>
            <hr>
            <h2>Tipo: {{ category.kind}}</h2>
            <h2>Price: {{category.price}}</h2>
            <p>{{category.description}}</p>
            <a href="{% url 'categories' %}" class="btn btn-primary">Volver</a>
            {% if perms.catalog.change_category %}
                <a href="{% url 'category_edit' pk=category.pk name=category.name|slugify %}" class="btn btn-warning">Editar</a>
            {% endif %}
            {% if perms.catalog.delete_category %}
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Eliminar</button>
            {% endif %}
            <!-- {% if user.is_authenticated %} -->
            <!-- {% endif %} -->
            <div class="modal modal-danger fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    {% if category_count == 1 %}
                        <div class="modal-header">
                            <h5 class="modal-title text-black" id="deleteModalLabel">Error al eliminar!</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-black">
                            No se puede eliminar esta categoría. Necesita existir al menos una categoría.
                        </div>
                    {% else %}
                        <div class="modal-header text-black">
                            <h5 class="modal-title" id="deleteModalLabel">Eliminar</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-black">
                            Estas seguro de que quieres borrar esta categoria?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <a href="{% url 'category_delete' pk=category.pk name=category.name|slugify %}" class="btn btn-danger">Confirmar</a>
                        </div>
                    {% endif %}
                </div>
            </div>
            </div>        
        </form>
    </main>
{% endblock %}