{% extends "base.html" %}
{% block content %}
    <main role="main" class="container py-4">
            
        <!-- Detalles de la categoría -->
        <h1>
            {{ category.name }} - {{ category.alias }}
            {% if category.moderated %}
                <!-- Explicación del estado Moderada (usamos bi-shield-fill-check para algo más llamativo) -->
                <div class="d-inline-block position-relative mx-3">
                    <i class="bi bi-shield-fill-check text-success fs-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Moderada: El contenido de esta categoría ha sido editado, revisado y publicado por nuestro equipo."></i>
                </div>
            {% else %}
                <!-- Explicación del estado No Moderada (usamos bi-exclamation-triangle-fill para algo más visible en amarillo) -->
                <div class="d-inline-block position-relative mx-3">
                    <i class="bi bi-exclamation-triangle-fill text-warning fs-1" data-bs-toggle="tooltip" data-bs-placement="top" title="No Moderada: El contenido de esta categoría no ha sido revisado por nuestro equipo y fue publicado directamente por el autor."></i>
                </div>
            {% endif %}
        </h1>
        <hr>
        <h2>Tipo: {{ category.kind }}</h2>
        <h2>Precio: {{ category.price }}</h2>
        <p>{{ category.description }}</p>

        <!-- Botones de acciones -->
        <div class="d-flex flex-column flex-md-row gap-2">
            <a href="{% url 'categories' %}" class="btn btn-primary">Volver</a>

            {% if category.kind != 'premium' %}
                {% if category in request.user.suscribed_categories.all %}
                    <form method="post" action="{% url 'unsubscribe' category.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Desuscribirse</button>
                    </form>
                {% else %}
                    <form method="post" action="{% url 'subscribe' category.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success">Suscribirse</button>
                    </form>
                {% endif %}
            {% endif %}

            {% if perms.posts.change_category %}
                <a href="{% url 'category_edit' pk=category.pk name=category.name|slugify %}" class="btn btn-warning">Editar</a>
            {% endif %}

            {% if perms.posts.delete_category %}
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Eliminar</button>
            {% endif %}
        </div>

        <!-- Modal de eliminación -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    {% if category_count == 1 %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Error al eliminar!</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            No se puede eliminar esta categoría. Necesita existir al menos una categoría.
                        </div>
                    {% else %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Eliminar</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            ¿Estás seguro de que quieres borrar esta categoría?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <a href="{% url 'category_delete' pk=category.pk name=category.name|slugify %}" class="btn btn-danger">Confirmar</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- Mostrar los posts de la categoría -->
        <h3 class="mt-5">Posts en esta categoría:</h3>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for post in posts %}
                <div class="col">
                    <div class="card h-100">
                        <div class="row g-0 h-100">
                            <div class="col-md-4">
                                <img src="https://picsum.photos/seed/picsum/1080" class="img-fluid rounded-start" alt="Placeholder Image" style="object-fit: cover; height: 100%;">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <div>
                                        <h5 class="card-title">
                                            <a href="{% url 'post' post.pk post.category.name|slugify post.date_posted|date:'m' post.date_posted|date:'Y' post.title|slugify %}">
                                                {{ post.title }}
                                            </a>
                                        </h5>
                                        <p class="card-text">{{ post.summary|safe }}</p>
                                    </div>
                                    <div>
                                        <p class="card-text">
                                            <small class="text-muted">Autor: {{ post.author.first_name }} {{ post.author.last_name }}</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No hay posts publicados en esta categoría.</p>
            {% endfor %}
        </div>

        <!-- Formulario separado para Stripe -->
        {% if category.kind == 'premium' and user.is_authenticated and category not in request.user.purchased_categories.all and not DEBUG %}
            <form action="{% url 'stripe_checkout' category.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-success mt-4">Comprar por {{ category.price }} USD</button>
            </form>
        {% endif %}

    </main>
{% endblock %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    });
</script>